In [1]:
import os
from dotenv import load_dotenv
from pydantic import BaseModel, Field
load_dotenv()




class Narration_Type(BaseModel):
    transaction_type: str = Field(description="The type of transaction from the list 'food', 'rent', 'family', 'shopping', 'self-care', 'transport', 'other', 'unknown', 'investement")
    mine: float = Field(description="The amount of money spent by the me")
    lent: float = Field(description="The amount of money lent by me. If no money lent, then 0")
    lent_by: str = Field(description="The person to whom the money is lent from the list 'pallavi', 'prateek', 'aws', 'arshad', 'manas','none'")
    reasoning: str = Field(description="The reasoning behind the selecting transaction_type, the amount of money spent by me and lent")


def get_model(model: str = 'deepseek-r1:7b', provider: str = 'local'):
    if (provider == 'local'):
        from langchain_ollama import ChatOllama
        llm = ChatOllama(model=model, temperature=0)
        structured_llm = llm.with_structured_output(Narration_Type,
                                                    method="json_schema")
        return structured_llm
    elif (provider == 'aws'):
        from langchain_aws import ChatBedrockConverse
        import boto3
        access_key = os.getenv('ACCESS_KEY')
        secret_key = os.getenv('SECRET_KEY')
        bedrock_client = boto3.client('bedrock-runtime',
                                      region_name='us-east-1',
                                      aws_access_key_id=access_key,
                                      aws_secret_access_key=secret_key)
        llm = ChatBedrockConverse(client=bedrock_client,
                                  model=model,
                                  temperature=0)
        structured_llm = llm.with_structured_output(Narration_Type,
                                                    method="json_schema")
        return structured_llm

def get_embeddings(model:str='deepseek-r1:7b', provider:str='local'):
    if(provider == 'local'):
        from langchain_ollama import OllamaEmbeddings
        embeddings=OllamaEmbeddings(model=model)
        return embeddings
    elif(provider == 'aws'):
        from langchain_aws import BedrockEmbeddings
        import boto3
        access_key=os.getenv('ACCESS_KEY')
        secret_key=os.getenv('SECRET_KEY')
        bedrock_client=boto3.client('bedrock-runtime', region_name='us-east-1', aws_access_key_id=access_key, aws_secret_access_key=secret_key)
        embeddings=BedrockEmbeddings(bedrock_client, model=model)
        return embeddings

In [2]:
from langchain_core.prompts import PromptTemplate
def classify_narration(narration:str, categories:list, users:list, amount:float):
    # llm=get_model()
    llm=get_model(model='anthropic.claude-3-sonnet-20240229-v1:0', provider='aws')
    category_list=', '.join(categories)
    users_list=', '.join(users)
    prompt=PromptTemplate(
        template=
        """
        'System: You will help me classify my bank transaction into one of the following categories: {categories}.
        Also determine if entire money is spent by me or split between me and someone else. 
        Always remember to add a reasoning for your classification.
        If split, it has to be between following users: {users}'
        Here are some details related to various categories:
        - rent: Includes payments made for rent, which includes my house rent, online subscriptions like netflix, Amazon Prime, jiohotstar. 
        Washing machine rent, Maid rent. Also payment made to airtel, jio and excitel.com for mobile recharge and wifi recharge.
        - food: Includes payment related to food items like cake, pizza, burger. Also purchases from supermarket like Ratnadeep, Tata Star and DMart. Any amount less than 100 is safe to be considered as food if you
        are not able to determine the transaction category. This category will comprise the maximum number of transactions.
        - family: The user will specifically mention family in the transaction. It includes payments made to family members like my father, mother, brother, sister, wife, husband, son, daughter.
        - transport: It includes payments made for fuel, and online transport services like ola and uber.
        - self-care: It includes payments made for personal care like skin-care, hair-cut, gym. Also includes payments for fun activities like movies, comedy shows and concerts.
        - shopping: It includes payments made for shopping like clothes, shoes, bags, accessories, electronics, gadgets, furniture, home decor. The transactions include brands like addidas, nike, zara, h&m, apple, samsung, oneplus, mi, ikea, pepperfry.
        - investment: It includes payments made for investment like mutual funds, stocks, gold, silver, bitcoin, real estate. Also includes payments made for insurance like life insurance, health insurance, car insurance, bike insurance.
        - unknown: If you are unsure of where to put the transaction. Select this category.

        Here are some details related to the users who split money with me:
        - Only if the user says 'by 2' then only split the amount otherwise entire amount is spent by me.
        - All the split transactions will have 'by x' or 'By x' in the narration. This means the money will be equally split by x people.
        - If you are certain that money is lent by me and I have not mentioned any name in the transaction then select 'pallavi'
        - pallavi : My flatmate, will be used in most of the transactions related to rent, food, transport, self-care, shopping.
        - prateek : My other flatmate, rarely used in transactions.
        - aws: My company, which involves transactions related to reimbursements.
        - arshad: My colleague, involes transaction related to food.
        - manas: My other flatmate, rarely used in transactions.
        'User': '{narration}. The total amount spent is {amount}.'
        """,
        input_variables=['narration', 'categories', 'users', 'amount']
    )
    chain=prompt|llm
    try:
        response=chain.invoke({'narration':narration, 'categories':category_list, 'users':users_list, 'amount':amount})
        return response
    except Exception as e:  
        print("Error:",e)

In [3]:
import pandas as pd
def get_data(filename):
    
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    pd.set_option('display.max_colwidth', None)
    filepath='./data/'+filename
    columns=['Date','Narration','Value_Date', 'Debit_Amount', 'Credit_Amount','Chq_Ref_Number', 'Closing_Balance']
    df=pd.read_csv(filepath, names=columns)
    df = df.drop(index=0)
    df = df.drop(columns=['Chq_Ref_Number', 'Value_Date'])

    # Reset the index if needed
    df = df.reset_index(drop=True)
    return df

In [4]:
import pandas as pd
import time

initial_balance=1083856.67
current_balance=1083856.67

def traverse_expense(categories:list, users:list, df:pd.DataFrame):
    global current_balance
    global initial_balance
    print("global initial   ",initial_balance)
    print("global current   ",current_balance)

    target_df = pd.DataFrame(columns=['date','narration','amount', 'mine', 'lent', 'lent_by', 'type', 'balance', 'closing_balance', 'credit', 'reasoning'])


    for index,row in df.iterrows():
        # print(row['Narration'], row['Debit_Amount'], row['Credit_Amount'])
        # print("current_balance before",current_balance)
        print("-"*80)
        if float(row['Credit_Amount'].strip()) > 0.0:
            # Create a new row for the target DataFrame
            # print("current_balance before",current_balance)
            amount=float(row['Credit_Amount'].strip())
            current_balance=current_balance + amount
            print(type(amount),type(current_balance), current_balance+amount)
            print(f"current_balance after adding amount {amount}= {current_balance}")
            new_row = {
                'date': row['Date'],
                'narration':row['Narration'].lower().strip(),
                'amount': row['Credit_Amount'].strip(),
                'type': 'input_amount',
                'mine': 0,  # Set appropriate value if needed
                'lent': 0,  # Set appropriate value if needed
                'lent_by':'none',
                'balance': current_balance, # Set appropriate value if needed
                'closing_balance': row['Closing_Balance'].strip(),
                'credit':'Y',
                'reasoning':'none'
                
            }
            # Append the new row to the target DataFrame
            target_df = pd.concat([target_df, pd.DataFrame([new_row])], ignore_index=True)
        else:
            amount=float(row['Debit_Amount'].strip())
            current_balance=current_balance-amount
            print(f"current_balance after deducting amount {amount}= {current_balance}")

            response=classify_narration(narration=row['Narration'].lower(),categories=categories, users=users, amount=row['Debit_Amount'])
            
            transaction_type=response.transaction_type.lower()
            mine=response.mine
            lent=response.lent
            lent_by=response.lent_by
            reasoning=response.reasoning
            print(row['Narration'].strip(),reasoning)

            print("before inserting:",current_balance)
            new_row = {
                'date': row['Date'],
                'narration':row['Narration'].lower().strip(),
                'amount': row['Debit_Amount'].strip(),
                'type': transaction_type,
                'mine': mine,  # Set appropriate value if needed
                'lent': lent,  # Set appropriate value if needed
                'lent_by':lent_by,
                'balance': current_balance, # Set appropriate value if needed
                'closing_balance': row['Closing_Balance'].strip(),
                'credit':'N',
                'reasoning':reasoning
            }
            print("new row",new_row)
            # Append the new row to the target DataFrame
            target_df = pd.concat([target_df, pd.DataFrame([new_row])], ignore_index=True)
        
        print("-"*80)
    
    return target_df

In [5]:
def get_cleaned_data():
    cleaned_df=pd.read_csv('./data/cleaned/cleaned_df.csv')
    target_df=pd.read_csv('./data/raw/target_df.csv')
    combined_df = pd.concat([cleaned_df, target_df], ignore_index=True)
    combined_df.to_csv('./data/cleaned/cleaned_df.csv', index=False)
    return combined_df

In [6]:
def get_input_amount():
    cleaned_df=pd.read_csv('./data/cleaned/cleaned_df.csv')
    input_df=cleaned_df[cleaned_df['type']=='input_amount']
    input_df.to_csv('./data/cleaned/input_df.csv', index=False)
    return input_df

In [7]:
import pandas as pd
def curate_data()->pd.DataFrame:
    cleaned_df=pd.read_csv('./data/cleaned/cleaned_df.csv')
    input_df=pd.read_csv('./data/cleaned/input_df.csv')
    category_columns = ['my_expenses','category_food', 'category_rent', 'category_family', 'category_shopping', 
                        'category_self-care', 'category_transport', 'category_other','catagory_investment',
                        'user_pallavi', 'user_prateek', 'user_aws', 'user_arshad','user_manas']
    df=pd.DataFrame(columns=category_columns)

    total_mine_spent = cleaned_df[cleaned_df['mine'] > 0]['mine'].sum()
    total_lent_spent = cleaned_df[cleaned_df['lent'] > 0]['lent'].sum()

    total_food_spent = cleaned_df[cleaned_df['type'] == 'food']['amount'].sum()
    total_rent_spent = cleaned_df[cleaned_df['type'] == 'rent']['amount'].sum()
    total_family_spent = cleaned_df[cleaned_df['type'] == 'family']['amount'].sum()
    total_shopping_spent = cleaned_df[cleaned_df['type'] == 'shopping']['amount'].sum()
    total_self_care_spent = cleaned_df[cleaned_df['type'] == 'self-care']['amount'].sum()
    total_transport_spent = cleaned_df[cleaned_df['type'] == 'transport']['amount'].sum()
    total_other_spent = cleaned_df[cleaned_df['type'] == 'other']['amount'].sum()
    total_investment_spent = cleaned_df[cleaned_df['type'] == 'investment']['amount'].sum()

    total_paid_pallavi=input_df[input_df['lent_by']=='pallavi']['amount'].sum()
    total_paid_prateek=input_df[input_df['lent_by']=='prateek']['amount'].sum() 
    total_paid_aws=input_df[input_df['lent_by']=='aws']['amount'].sum()
    total_paid_arshad=input_df[input_df['lent_by']=='arshad']['amount'].sum()

    total_owe_pallavi=cleaned_df[cleaned_df['lent_by']=='pallavi' ]['lent'].sum()
    total_owe_prateek=cleaned_df[cleaned_df['lent_by']=='prateek' ]['lent'].sum()
    total_owe_aws=cleaned_df[cleaned_df['lent_by']=='aws' ]['lent'].sum()
    total_owe_arshad=cleaned_df[cleaned_df['lent_by']=='arshad' ]['lent'].sum()

    df.loc[0, 'my_expenses'] = total_mine_spent
    df.loc[0, 'lent'] = total_lent_spent
    
    df.loc[0, 'category_food'] = total_food_spent
    df.loc[0, 'category_rent'] = total_rent_spent
    df.loc[0, 'category_family'] = total_family_spent
    df.loc[0, 'category_shopping'] = total_shopping_spent       
    df.loc[0, 'category_self-care'] = total_self_care_spent
    df.loc[0, 'category_transport'] = total_transport_spent
    df.loc[0, 'category_other'] = total_other_spent
    df.loc[0, 'catagory_investment'] = total_investment_spent
    df.loc[0, 'user_pallavi'] = total_owe_pallavi- total_paid_pallavi
    df.loc[0, 'user_prateek'] = total_owe_prateek-total_paid_prateek
    df.loc[0, 'user_aws'] = total_owe_aws-total_paid_aws
    df.loc[0, 'user_arshad'] = total_owe_arshad-total_paid_arshad

    df.to_csv('./data/curated/curated_df.csv', index=False)
    


    
    return df

In [8]:
def check_balance():
    df_curated=pd.read_csv('./data/curated/curated_df.csv')
    mine=df_curated['my_expenses'].values[0]
    lent=df_curated['user_pallavi'].values[0]+df_curated['user_prateek'].values[0]+df_curated['user_aws'].values[0]+df_curated['user_arshad'].values[0]
    global initial_balance
    global current_balance

    print("Initial Balance:", initial_balance)
    print("Current Balance:", current_balance)
    print("My Expenses:",mine)
    print("Lent:",lent)

    diff=current_balance-(initial_balance-mine-lent)

    if(diff<500.00):
        print("The balance is correct")
    else:
        print("The balance is incorrect by amount:", current_balance-(initial_balance-mine-lent))

# Functions Ends, start execution

In [9]:
categories=['food', 'rent', 'family', 'shopping', 'self-care', 'transport', 'other', 'unknown']
users=['pallavi', 'prateek', 'aws', 'arshad']
df=get_data('march12')
target_df=traverse_expense(categories, users, df)
target_df.to_csv('./data/raw/target_df.csv', index=False)
# get_cleaned_data()
# target_df.head(10)

global initial    1083856.67
global current    1083856.67
--------------------------------------------------------------------------------
<class 'float'> <class 'float'> 1153856.67
current_balance after adding amount 35000.0= 1118856.67
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 824.82= 1118031.8499999999

/var/folders/nx/wvnbfw697mbf57dq4vcl2nbm0000gn/T/ipykernel_38078/2745280577.py:42: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  target_df = pd.concat([target_df, pd.DataFrame([new_row])], ignore_index=True)

UPI-WWW EXCITEL COM-EXCITEL.PAYU@HDFCBANK-HDFC0000499-100079521366-UPI TRANSACTION This transaction is for paying the Excitel broadband internet bill, which falls under the rent category as per the given details. The entire amount of 824.82 is spent by me and there is no split mentioned, so lent is 0 and lentBy is none.
before inserting: 1118031.8499999999
new row {'date': ' 01/03/25  ', 'narration': 'upi-www excitel com-excitel.payu@hdfcbank-hdfc0000499-100079521366-upi transaction', 'amount': '824.82', 'type': 'rent', 'mine': 824.82, 'lent': 0.0, 'lent_by': 'none', 'balance': 1118031.8499999999, 'closing_balance': '1118031.85', 'credit': 'N', 'reasoning': 'This transaction is for paying the Excitel broadband internet bill, which falls under the rent category as per the given details. The entire amount of 824.82 is spent by me and there is no split mentioned, so lent is 0 and lentBy is none.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 79.0= 1117952.8499999999
UPI-JIOHOTSTAR-HOTSTARONLINE@YBL-YESB0YBLUPI-506055997561-COLLECT REQUEST FR The narration mentions "jiohotstar" which is an online subscription service, so this transaction falls under the rent category as per the provided details. The entire amount of 79.0 is spent by me as there is no mention of splitting the cost.
before inserting: 1117952.8499999999
new row {'date': ' 01/03/25  ', 'narration': 'upi-jiohotstar-hotstaronline@ybl-yesb0yblupi-506055997561-collect request fr', 'amount': '79.00', 'type': 'rent', 'mine': 79.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 1117952.8499999999, 'closing_balance': '1117952.85', 'credit': 'N', 'reasoning': 'The narration mentions "jiohotstar" which is an online subscription service, so this transaction falls under the rent category as per the provided details. The entire amount of 79.0 is spent by me as there is no mention of splitting the cost.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 500.0= 1117452.8499999999
UPI-SANDHYA FUEL STATION-PAYTM-65718951@PTYS-YESB0PTMUPI-100786433017-UPI The narration mentions "fuel station", which indicates that the transaction is related to transport and specifically for fuel. Since there is no mention of splitting the amount, the entire 500 is spent by me.
before inserting: 1117452.8499999999
new row {'date': ' 01/03/25  ', 'narration': 'upi-sandhya fuel station-paytm-65718951@ptys-yesb0ptmupi-100786433017-upi', 'amount': '500.00', 'type': 'transport', 'mine': 500.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 1117452.8499999999, 'closing_balance': '1117452.85', 'credit': 'N', 'reasoning': 'The narration mentions "fuel station", which indicates that the transaction is related to transport and specifically for fuel. Since there is no mention of splitting the amount, the entire 500 is spent by me.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 10.0= 1117442.8499999999
UPI-ADIGOPPULA SHRAVAN K-PAYTMQR5YZXCJ@PTYS-YESB0PTMUPI-100787095809-UPI Based on the narration, this transaction is for a small amount of 10 rupees which is likely for food according to the guidelines provided. The narration does not mention any splitting of the amount, so I have assumed the entire amount is spent by me.
before inserting: 1117442.8499999999
new row {'date': ' 01/03/25  ', 'narration': 'upi-adigoppula shravan k-paytmqr5yzxcj@ptys-yesb0ptmupi-100787095809-upi', 'amount': '10.00', 'type': 'food', 'mine': 10.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 1117442.8499999999, 'closing_balance': '1117442.85', 'credit': 'N', 'reasoning': 'Based on the narration, this transaction is for a small amount of 10 rupees which is likely for food according to the guidelines provided. The narration does not mention any splitting of the amount, so I have assumed the entire amount is spent by me.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 3000.0= 1114442.8499999999
NWD-435584XXXXXX5455-ID043212-HYDERABAD Based on the given transaction narration "nwd-435584xxxxxx5455-id043212-hyderabad", it is not clear what this transaction is for. There are no keywords that indicate any of the specified categories like food, rent, family, shopping, self-care, transport, investment or other. Therefore, I have classified this transaction as "unknown".
before inserting: 1114442.8499999999
new row {'date': ' 01/03/25  ', 'narration': 'nwd-435584xxxxxx5455-id043212-hyderabad', 'amount': '3000.00', 'type': 'unknown', 'mine': 3000.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 1114442.8499999999, 'closing_balance': '1114442.85', 'credit': 'N', 'reasoning': 'Based on the given transaction narration "nwd-435584xxxxxx5455-id043212-hyderabad", it is not clear what this transaction is for. There are no keywords that indicate any of the specified categories like food, rent, family, shopping, self-care, transport, investment or other. Therefore, I have classified this transaction as "unknown".'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 90454.0= 1023988.8499999999
UPI-MD ARSHAD AHMED-ITZZARSHAD19@OKAXIS-UTIB0000376-100795816337-HALF AMOUNT The narration mentions "arshad ahmed" which indicates that the transaction is related to your colleague Arshad. It also mentions "half amount" which means the total amount is split between you and Arshad. Since the total amount is 90454, each person's share is 45227. The transaction does not explicitly mention any category, but since it involves splitting with your colleague Arshad, it is likely related to food expenses.
before inserting: 1023988.8499999999
new row {'date': ' 01/03/25  ', 'narration': 'upi-md arshad ahmed-itzzarshad19@okaxis-utib0000376-100795816337-half amount', 'amount': '90454.00', 'type': 'food', 'mine': 45227.0, 'lent': 45227.0, 'lent_by': 'arshad', 'balance': 1023988.8499999999, 'closing_balance': '1023988.85', 'credit': 'N', 'reasoning': 'The narration mentions "arshad ahmed" which indicates that the transaction is related to your colleague Arshad. It also mentions "half amount" which means the total amount is split between you and Arshad. Since the total amount is 90454, each person\'s share is 45227. The transaction does not explicitly mention any category, but since it involves splitting with your colleague Arshad, it is likely related to food expenses.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
<class 'float'> <class 'float'> 1034310.8499999999
current_balance after adding amount 5161.0= 1029149.8499999999
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 710.0= 1028439.8499999999
UPI-JAMALPUR  VIJAY-Q786072912@YBL-YESB0YBLUPI-100832556878-CHOCLATE ROOM BY 2 The narration mentions "choclate room" which suggests it is a food-related transaction. The amount is split "by 2" which means the total amount of 710 is equally split between me and someone else. Since no specific name is mentioned for the other person, I assume it is my flatmate pallavi based on the given information.
before inserting: 1028439.8499999999
new row {'date': ' 02/03/25  ', 'narration': 'upi-jamalpur  vijay-q786072912@ybl-yesb0yblupi-100832556878-choclate room by 2', 'amount': '710.00', 'type': 'food', 'mine': 355.0, 'lent': 355.0, 'lent_by': 'pallavi', 'balance': 1028439.8499999999, 'closing_balance': '1028439.85', 'credit': 'N', 'reasoning': 'The narration mentions "choclate room" which suggests it is a food-related transaction. The amount is split "by 2" which means the total amount of 710 is equally split between me and someone else. Since no specific name is mentioned for the other person, I assume it is my flatmate pallavi based on the given information.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 140.0= 1028299.8499999999
UPI-SANJAY YADAV-PAYTMQR666MP3@PTYS-YESB0PTMUPI-100833667326-MANGO SHAKE BY 2 The narration mentions "mango shake" which is a food item. The amount is split "by 2" indicating it is shared between me and someone else. Since no specific name is mentioned for the other person, I assume it is my flatmate pallavi based on the given information.
before inserting: 1028299.8499999999
new row {'date': ' 02/03/25  ', 'narration': 'upi-sanjay yadav-paytmqr666mp3@ptys-yesb0ptmupi-100833667326-mango shake by 2', 'amount': '140.00', 'type': 'food', 'mine': 70.0, 'lent': 70.0, 'lent_by': 'pallavi', 'balance': 1028299.8499999999, 'closing_balance': '1028299.85', 'credit': 'N', 'reasoning': 'The narration mentions "mango shake" which is a food item. The amount is split "by 2" indicating it is shared between me and someone else. Since no specific name is mentioned for the other person, I assume it is my flatmate pallavi based on the given information.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 90453.0= 937846.8499999999
UPI-MD ARSHAD AHMED-ITZZARSHAD19@OKAXIS-UTIB0000376-100850372025-OTHER HALF The narration mentions "arshad ahmed" and "other half", indicating that the transaction is related to food and the amount is split equally between me and arshad. Since the total amount is 90453, my share is half of that, which is 45226.5. The category "food" is chosen because arshad is mentioned as a colleague, and transactions involving colleagues are typically related to food.
before inserting: 937846.8499999999
new row {'date': ' 02/03/25  ', 'narration': 'upi-md arshad ahmed-itzzarshad19@okaxis-utib0000376-100850372025-other half', 'amount': '90453.00', 'type': 'food', 'mine': 45226.5, 'lent': 45226.5, 'lent_by': 'arshad', 'balance': 937846.8499999999, 'closing_balance': '937846.85', 'credit': 'N', 'reasoning': 'The narration mentions "arshad ahmed" and "other half", indicating that the transaction is related to food and the amount is split equally between me and arshad. Since the total amount is 90453, my share is half of that, which is 45226.5. The category "food" is chosen because arshad is mentioned as a colleague, and transactions involving colleagues are typically related to food.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
<class 'float'> <class 'float'> 939496.8499999999
current_balance after adding amount 825.0= 938671.8499999999
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 40.0= 938631.8499999999
UPI-AKHILESH KUMAR-PAYTMQR5ET64Z@PTYS-YESB0PTMUPI-100930873951-UPI Based on the transaction narration, it seems to be a payment made via UPI to someone named Akhilesh Kumar. Since the amount is relatively small (Rs. 40) and there is no specific mention of the purpose, it is reasonable to classify this as a food-related transaction, which is expected to be the most common category. The narration does not indicate any splitting of the amount, so the entire Rs. 40 is assumed to be spent by me.
before inserting: 938631.8499999999
new row {'date': ' 04/03/25  ', 'narration': 'upi-akhilesh kumar-paytmqr5et64z@ptys-yesb0ptmupi-100930873951-upi', 'amount': '40.00', 'type': 'food', 'mine': 40.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 938631.8499999999, 'closing_balance': '938631.85', 'credit': 'N', 'reasoning': 'Based on the transaction narration, it seems to be a payment made via UPI to someone named Akhilesh Kumar. Since the amount is relatively small (Rs. 40) and there is no specific mention of the purpose, it is reasonable to classify this as a food-related transaction, which is expected to be the most common category. The narration does not indicate any splitting of the amount, so the entire Rs. 40 is assumed to be spent by me.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 52000.0= 886631.8499999999
UPI-SIVA SANKARAREDDY BA-BSSR1221@OKHDFCBANK-YESB0000485-100938256070-MARCH RENT The narration mentions "march rent" which indicates this transaction is related to rent payment. Since there is no mention of splitting the amount, I have assumed the entire amount of 52000 is spent by me.
before inserting: 886631.8499999999
new row {'date': ' 04/03/25  ', 'narration': 'upi-siva sankarareddy ba-bssr1221@okhdfcbank-yesb0000485-100938256070-march rent', 'amount': '52000.00', 'type': 'rent', 'mine': 52000.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 886631.8499999999, 'closing_balance': '886631.85', 'credit': 'N', 'reasoning': 'The narration mentions "march rent" which indicates this transaction is related to rent payment. Since there is no mention of splitting the amount, I have assumed the entire amount of 52000 is spent by me.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 15000.0= 871631.8499999999
UPI-ARUP KALITA-ARUPKALITA046@OKHDFCBANK-HDFC0000264-100954305058-UPI Based on the narration, this transaction seems to be related to a payment made to HDFC Bank, which is likely for rent or housing expenses. Since the amount is a large sum of 15000, it is reasonable to classify this as a rent payment rather than a food or other smaller expense.
before inserting: 871631.8499999999
new row {'date': ' 04/03/25  ', 'narration': 'upi-arup kalita-arupkalita046@okhdfcbank-hdfc0000264-100954305058-upi', 'amount': '15000.00', 'type': 'rent', 'mine': 15000.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 871631.8499999999, 'closing_balance': '871631.85', 'credit': 'N', 'reasoning': 'Based on the narration, this transaction seems to be related to a payment made to HDFC Bank, which is likely for rent or housing expenses. Since the amount is a large sum of 15000, it is reasonable to classify this as a rent payment rather than a food or other smaller expense.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 6000.0= 865631.8499999999
UPI-MONALISHA KALITA-KALITATONMOY6@OKHDFCBANK-HDFC0000264-100954331345-UPI Based on the transaction narration which mentions 'upi-monalisha kalita-kalitatonmoy6@okhdfcbank', it seems to be a rent payment made to Monalisha Kalita who is likely the landlord or property owner. Since the amount is a large sum of 6000, it is reasonable to classify this as a rent payment. There is no mention of splitting the amount, so I have assumed the entire 6000 was paid by me. In the absence of any other name mentioned, I have assumed the money was lent by my flatmate Pallavi as per the given context.
before inserting: 865631.8499999999
new row {'date': ' 04/03/25  ', 'narration': 'upi-monalisha kalita-kalitatonmoy6@okhdfcbank-hdfc0000264-100954331345-upi', 'amount': '6000.00', 'type': 'rent', 'mine': 6000.0, 'lent': 0.0, 'lent_by': 'pallavi', 'balance': 865631.8499999999, 'closing_balance': '865631.85', 'credit': 'N', 'reasoning': "Based on the transaction narration which mentions 'upi-monalisha kalita-kalitatonmoy6@okhdfcbank', it seems to be a rent payment made to Monalisha Kalita who is likely the landlord or property owner. Since the amount is a large sum of 6000, it is reasonable to classify this as a rent payment. There is no mention of splitting the amount, so I have assumed the entire 6000 was paid by me. In the absence of any other name mentioned, I have assumed the money was lent by my flatmate Pallavi as per the given context."}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 20.0= 865611.8499999999
UPI-TULSI RAMPRASAD SING-Q421263501@YBL-YESB0YBLUPI-100976022303-UPI The transaction narration does not provide enough context to determine the category. However, since the amount is less than 100, it is safe to assume that this is a food-related transaction based on the provided guidelines.
before inserting: 865611.8499999999
new row {'date': ' 05/03/25  ', 'narration': 'upi-tulsi ramprasad sing-q421263501@ybl-yesb0yblupi-100976022303-upi', 'amount': '20.00', 'type': 'food', 'mine': 20.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 865611.8499999999, 'closing_balance': '865611.85', 'credit': 'N', 'reasoning': 'The transaction narration does not provide enough context to determine the category. However, since the amount is less than 100, it is safe to assume that this is a food-related transaction based on the provided guidelines.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 232.0= 865379.8499999999
UPI-SWIGGY LIMITED-SWIGGY1ONLINE.GPAY@OKPAYAXIS-UTIB0000553-101003724958-HERLEYS CAKE BY ME This transaction is for purchasing a cake from Swiggy, which falls under the food category. The narration mentions "herleys cake" which indicates it is a food item. Since there is no mention of splitting the amount, the entire 232 rupees is spent by me.
before inserting: 865379.8499999999
new row {'date': ' 05/03/25  ', 'narration': 'upi-swiggy limited-swiggy1online.gpay@okpayaxis-utib0000553-101003724958-herleys cake by me', 'amount': '232.00', 'type': 'food', 'mine': 232.0, 'lent': 0.0, 'lent_by': 'none', 'balance': 865379.8499999999, 'closing_balance': '865379.85', 'credit': 'N', 'reasoning': 'This transaction is for purchasing a cake from Swiggy, which falls under the food category. The narration mentions "herleys cake" which indicates it is a food item. Since there is no mention of splitting the amount, the entire 232 rupees is spent by me.'}
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
current_balance after deducting amount 30.0= 865349.8499999999
UPI-BOODPATLA SHANKER-Q419380779@YBL-YESB0YBLUPI-101052613647-TOMATO The transaction is for purchasing tomatoes, which falls under the food category. The narration does not mention any splitting of amount, so the entire 30 rupees is spent by me.
before inserting: 865349.8499999999

In [10]:
get_cleaned_data()
get_input_amount()

,amount,mine,lent,balance,date,narration,type,lent_by,closing_balance,credit,reasoning
0,35000.0,0.0,0.0,1118856.67,28/02/25,upi-prateek ranjan dutta-dada.prateek.00358@okhdfcbank-hdfc0004809-100743026595-rent maid plus 15k,input_amount,none,1118856.67,Y,none
7,5161.0,0.0,0.0,1029149.85,02/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030224913179,input_amount,none,1029149.85,Y,none
11,825.0,0.0,0.0,938671.85,03/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030324995487,input_amount,none,938671.85,Y,none
35,7742.0,0.0,0.0,871149.85,09/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030926790313,input_amount,none,871149.85,Y,none
48,5000.0,0.0,0.0,867878.36,11/03/25,upi-manas patro-patro.manas1@ibl-punb0498200-287371249769-payment from phone,input_amount,none,867878.36,Y,none
50,35000.0,0.0,0.0,1118856.67,28/02/25,upi-prateek ranjan dutta-dada.prateek.00358@okhdfcbank-hdfc0004809-100743026595-rent maid plus 15k,input_amount,none,1118856.67,Y,none
57,5161.0,0.0,0.0,1029149.85,02/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030224913179,input_amount,none,1029149.85,Y,none
61,825.0,0.0,0.0,938671.85,03/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030324995487,input_amount,none,938671.85,Y,none
85,7742.0,0.0,0.0,871149.85,09/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030926790313,input_amount,none,871149.85,Y,none
98,5000.0,0.0,0.0,867878.36,11/03/25,upi-manas patro-patro.manas1@ibl-punb0498200-287371249769-payment from phone,input_amount,none,867878.36,Y,none
100,35000.0,0.0,0.0,1118856.67,28/02/25,upi-prateek ranjan dutta-dada.prateek.00358@okhdfcbank-hdfc0004809-100743026595-rent maid plus 15k,input_amount,none,1118856.67,Y,none
107,5161.0,0.0,0.0,1029149.85,02/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030224913179,input_amount,none,1029149.85,Y,none
111,825.0,0.0,0.0,938671.85,03/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030324995487,input_amount,none,938671.85,Y,none
135,7742.0,0.0,0.0,871149.85,09/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030926790313,input_amount,none,871149.85,Y,none
148,5000.0,0.0,0.0,867878.36,11/03/25,upi-manas patro-patro.manas1@ibl-punb0498200-287371249769-payment from phone,input_amount,none,867878.36,Y,none

In [19]:
# before running this cell clean input df and cleaned df
cleaned_df=pd.read_csv('./data/cleaned/cleaned_df.csv')
cleaned_df.head(10)

,amount,mine,lent,balance,date,narration,type,lent_by,closing_balance,credit,reasoning
0,35000.00,0.0,0.00,1118856.67,28/02/25,upi-prateek ranjan dutta-dada.prateek.00358@okhdfcbank-hdfc0004809-100743026595-rent maid plus 15k,input_amount,none,1118856.67,Y,none
1,824.82,0.0,824.82,1118031.85,01/03/25,upi-www excitel com-excitel.payu@hdfcbank-hdfc0000499-100079521366-upi transaction,rent,aws,1118031.85,N,"This transaction is for paying the Excitel broadband internet bill, which falls under the rent category as per the given details. The entire amount of 824.82 is spent by me and there is no split mentioned, so lent is 0 and lentBy is none."
2,79.00,79.0,0.00,1117952.85,01/03/25,upi-jiohotstar-hotstaronline@ybl-yesb0yblupi-506055997561-collect request fr,rent,none,1117952.85,N,"The narration mentions ""jiohotstar"" which is an online subscription service, so this transaction falls under the rent category as per the provided details. The entire amount of 79.0 is spent by me as there is no mention of splitting the cost."
3,500.00,500.0,0.00,1117452.85,01/03/25,upi-sandhya fuel station-paytm-65718951@ptys-yesb0ptmupi-100786433017-upi,transport,none,1117452.85,N,"The narration mentions ""fuel station"", which indicates that the transaction is related to transport and specifically for fuel. Since there is no mention of splitting the amount, the entire 500 is spent by me."
4,10.00,10.0,0.00,1117442.85,01/03/25,upi-adigoppula shravan k-paytmqr5yzxcj@ptys-yesb0ptmupi-100787095809-upi,food,none,1117442.85,N,"Based on the narration, this transaction is for a small amount of 10 rupees which is likely for food according to the guidelines provided. The narration does not mention any splitting of the amount, so I have assumed the entire amount is spent by me."
5,3000.00,3000.0,0.00,1114442.85,01/03/25,nwd-435584xxxxxx5455-id043212-hyderabad,unknown,none,1114442.85,N,"Based on the given transaction narration ""nwd-435584xxxxxx5455-id043212-hyderabad"", it is not clear what this transaction is for. There are no keywords that indicate any of the specified categories like food, rent, family, shopping, self-care, transport, investment or other. Therefore, I have classified this transaction as ""unknown""."
6,90454.00,90454.0,0.00,1023988.85,01/03/25,upi-md arshad ahmed-itzzarshad19@okaxis-utib0000376-100795816337-half amount,shopping,arshad,1023988.85,N,"The narration mentions ""arshad ahmed"" which indicates that the transaction is related to your colleague Arshad. It also mentions ""half amount"" which means the total amount is split between you and Arshad. Since the total amount is 90454, each person's share is 45227. The transaction does not explicitly mention any category, but since it involves splitting with your colleague Arshad, it is likely related to food expenses."
7,5161.00,0.0,0.00,1029149.85,02/03/25,neft cr-hsbc0560002-aws proserve india llp-rishi raj kalita-hsbcn52025030224913179,input_amount,none,1029149.85,Y,none
8,710.00,355.0,355.00,1028439.85,02/03/25,upi-jamalpur vijay-q786072912@ybl-yesb0yblupi-100832556878-choclate room by 2,food,pallavi,1028439.85,N,"The narration mentions ""choclate room"" which suggests it is a food-related transaction. The amount is split ""by 2"" which means the total amount of 710 is equally split between me and someone else. Since no specific name is mentioned for the other person, I assume it is my flatmate pallavi based on the given information."
9,140.00,70.0,70.00,1028299.85,02/03/25,upi-sanjay yadav-paytmqr666mp3@ptys-yesb0ptmupi-100833667326-mango shake by 2,food,pallavi,1028299.85,N,"The narration mentions ""mango shake"" which is a food item. The amount is split ""by 2"" indicating it is shared between me and someone else. Since no specific name is mentioned for the other person, I assume it is my flatmate pallavi based on the given information."

In [20]:
curated_df=curate_data()
check_balance()

Initial Balance: 1083856.67
Current Balance: 867838.3599999999
My Expenses: 233643.49
Lent: -17625.18
The balance is correct

In [ ]:
def extract_owe():
    cleaned_df=pd.read_csv('./data/cleaned/cleaned_df.csv')
    df_pallavi=cleaned_df[cleaned_df['lent_by']=='pallavi']
    df_prateek=cleaned_df[cleaned_df['lent_by']=='prateek']
    df_aws=cleaned_df[cleaned_df['lent_by']=='aws']
    df_arshad=cleaned_df[cleaned_df['lent_by']=='arshad']

    # Define the columns for the lent_df DataFrame
    columns = ['person', 'narration', 'amount', 'date']
    
    # Create an empty DataFrame with the specified columns
    lent_df = pd.DataFrame(columns=columns)
    
    # Function to append data to lent_df
    def append_to_lent_df(df, person):
        for index, row in df.iterrows():
            lent_df.loc[len(lent_df)] = [person, row['narration'], row['lent'], row['date']]
    
    # Append data for each person
    append_to_lent_df(df_pallavi, 'Pallavi')
    append_to_lent_df(df_prateek, 'Prateek')
    append_to_lent_df(df_aws, 'AWS')
    append_to_lent_df(df_arshad, 'Arshad')

    return lent_df

In [22]:
lent_df=extract_owe()
lent_df.to_csv('./data/curated/lent_df.csv', index=False)